{% extends 'base.html.twig' %}

{% block h1 %}
    Liste des associations
{% endblock %}

{% block body %}
    <div class="justify-content-md-end text-center">
        <a class="btn btn-secondary mx-1" type="submit " href="{{ url("association_add") }}">Ajouter une association</a>
        <a class="btn btn-secondary mx-1" type="submit" href="{{ path('accueil') }}" >Retour</a>
        <div class="row d-flex justify-content-center">
            <div class="col-4 mt-2">
                {{ render(controller(
                    'App\\Controller\\SearchController::searchAsso'
                )) }}
            </div>
        </div>
    </div>
    {{ include('association/list.html.twig', {'associations': associations,'nbPage': nbPage,'currentPage': currentPage}) }}



{% endblock %}
