
{% block body %}
    <script text="text/javascript">

    </script>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% if magasins is null%}
                        <h3>Il n'y a pas de magasin a ce nom</h3>
>                    {% endif %}

                    {% for magasin in magasins %}
                        <tr class="table-light">
                            <th scope="row">
                                {{ magasin.nom }}
                            </th>
                            <td>{{ magasin.adresse }}</td>
                            <td>
                                <a class="btn btn-secondary mx-1" type="submit" href="{{ url("magasin_booking",{'magId':magasin.id}) }}">Planning</a>
                                <a class="btn btn-secondary mx-1" href="{{ url("magasin_view", {'id':magasin.id}) }}">Voir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}

