{% if(nbPage >1) %}
    <nav>
        <ul class="pagination justify-content-center ">
            {%  for page in 1..nbPage %}
                {% if page != currentPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url("magasin_index",{'page':page}) }}"> {{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}