{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block h1 %}Bienvenue{% endblock %}

{% block body %}
    {% if is_granted('ROLE_BENEVOLE') %}
        {% if startCollecte is not null %}
            {% include 'booking/calendar.html.twig' with {'magasin':null, 'benevole': true,'startCollecte' : startCollecte, 'endCollecte' : endCollecte} %}
        {% else %}
            <h4 class="d-flex justify-content-center mt-5">Le weekend de collecte n'a pas encore été défini</h4>
        {% endif %}
    {% elseif is_granted('ROLE_BA') %}
        <h4 class="d-flex justify-content-center mt-5">Veuillez entrer la date de début et de fin de la collecte</h4>
        {{ include('benevole/formDateCollecte.html.twig') }}
    {% endif %}
{% endblock %}
